<div class = "row">
	
		<img src ="<%= @business.logo.medium %>">
		<% if user_signed_in? %>
			<% if @business.user_id == current_user.id %>
				<%= link_to "Edit", edit_business_path(@business) %>
				<%= link_to 'Delete', @business, method: :delete %>
			<% end %>
		<% end %>
		<%= link_to "Back", root_path %>
	
	<div class= "row">
		<h1><%= @business.name %></h1>
		<p>Category: <%= @business.category.name %></p>
		<h2>Average rating </h2>
		<div class='average-like-rating' data-score=<%= @average_like %>></div>
		<span> Based on <%= @business.likes.count %> Feedbacks </span>
		<h1> Business Description </h1>
		<p><%= @business.description %></p>
	</div>

	
	</div>

<div class = "row">

	<img src ="<%= @business.logo.medium %>">


	<div class= "col-md-4">
	
	<h1>Feedback</h1>
	<%= render @business.likes %>
	<div>
	<%= link_to "Leave feedback", new_business_like_path(@business) %>
	
		
	</div>
	</div>
</div>
<script>
	$('.like-rating').raty({
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-like-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
		
	});
</script>




