<div class = "row">
	<div class = "col-md-4">
		<h1> Image </h1>
	</div>
	<div class= "col-md-8">
		<h1><%= @business.name %></h1>
		<p>Category: <%= @business.category.name %></p>
		<h1> Business Description </h1>
		<p><%= @business.description %></p>
	</div>

	<%= link_to "Edit", edit_business_path(@business) %>
	<%= link_to 'Destroy', @business, method: :delete %>
	<%= link_to "Back", root_path %>
	</div>

<div class = "row">

	<img src ="<%= @business.logo.medium %>">


	<div class= " col-md-4">
	<%= render @business.likes %>
	<div>
	<%= link_to "Leave feeback", new_business_like_path(@business) %>
	</div>
		<h1>ratings</h1>
	</div>
</div>



