<!DOCTYPE html>
<html>
  <head>
    <title>FyiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
  <div class="container-fluid">
   <div class="row">
   <div class = "logo">
	<img src="/assets/fyi_final_logo.png" class="rounded mx-auto d-block" width="150" height="150" alt="">
	</div>
   </div>
</div>
  <nav class=" navbar navbar-default">

	  <div class ="container">

		 <a class="navbar-brand" href="#">
    		<img src="/assets/fyi_final_logo.png" width="30" height="30" alt="">
 		</a>

		
		<ul class ="nav navbar-nav">
			<li class = "white"><%= link_to "FYI", root_path %></li>
			<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% if user_signed_in? %>
			  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
			<% else %>
			  <li><%= link_to "Log in ", new_user_session_path %></li>
			<% end %>
			<% if user_signed_in? %>
				<li><%= link_to "Add Your Business", new_business_path %>
			<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<% Category.all.each do |category| %>
							<li class = "red-cat">
								<%= link_to category.name, businesses_path(category: category.name), class: "link" %>
							</li>
						<% end %>
					</ul>
			
			</li>
		</ul>	
	  </div>

  </nav>
 
  	<!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
